In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_train=pd.read_csv("C:/My data/udemy/Data/Movie_collection_train.csv")

In [9]:
df_train.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,Thriller,23,PG,494,YES
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,Drama,42,PG,462,NO
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,Comedy,38,PG,458,NO
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,Drama,45,PG,472,YES
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,Drama,55,PG,395,NO

In [92]:
df_train.shape

(400, 21)

### Missing value Imputation

In [16]:
df_train.Time_taken=df_train.fillna(df_train.Time_taken.mean())

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           400 non-null    int64
 1   Marketin_expense     400 non-null    float64
 2   Production_expense   400 non-null    float64
 3   Multiplex_coverage   400 non-null    float64
 4   Budget               400 non-null    float64
 5   Movie_length         400 non-null    float64
 6   Lead_ Actor_Rating   400 non-null    float64
 7   Lead_Actress_rating  400 non-null    float64
 8   Director_rating      400 non-null    float64
 9   Producer_rating      400 non-null    float64
 10  Critic_rating        400 non-null    float64
 11  Trailer_views        400 non-null    int64
 12  Time_taken           400 non-null    float64
 13  Twitter_hastags      400 non-null    float64
 14  Avg_age_actors       400 non-null    int64
 15  Num_multiplex        400 non-null    int64
 16  Genre_Action         400 non-null    uint8
 17  Genre_Comedy         400 non-null    uint8
 18  Genre_Drama          400 non-null    uint8
 19  Genre_Thriller       400 non-null    uint8
 20  MPAA_film_rating_PG  400 non-null    uint8
 21  3D_available_NO      400 non-null    uint8
 22  3D_available_YES     400 non-null    uint8
dtypes: float64(12), int64(4), uint8(7)
memory usage: 52.8 KB

### Dummy Variable Creation

In [19]:
df_train=pd.get_dummies(df_train)

In [22]:
df_train.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,...,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Genre_Comedy,Genre_Drama,Genre_Thriller,MPAA_film_rating_PG,3D_available_NO,3D_available_YES
0,48000,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,...,48000.0,223.840,23,494,0,0,1,1,0,1
1,43200,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,...,43200.0,243.456,42,462,0,1,0,1,1,0
2,69400,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,...,69400.0,2022.400,38,458,1,0,0,1,1,0
3,66800,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,...,66800.0,225.344,45,472,0,1,0,1,0,1
4,72400,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,...,72400.0,225.792,55,395,0,1,0,1,1,0

In [11]:
df_test=pd.read_csv("C:/My data/udemy/Data/Movie_collection_test.csv")

In [12]:
df_test.head()

,Collection,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Genre,Avg_age_actors,MPAA_film_rating,Num_multiplex,3D_available
0,11200,520.9220,91.2,0.307,33257.785,173.5,9.135,9.31,9.040,9.335,7.96,308973,184.24,220.896,Drama,30,PG,618,YES
1,14400,304.7240,91.2,0.307,35235.365,173.5,9.120,9.33,9.095,9.305,7.96,374897,146.88,201.152,Comedy,50,PG,703,YES
2,24200,211.9142,91.2,0.307,35574.220,173.5,9.170,9.32,9.115,9.120,7.96,359036,108.84,281.936,Thriller,42,PG,689,NO
3,16600,516.0340,91.2,0.307,29713.695,169.5,9.125,9.31,9.060,9.100,6.96,384237,NaN,301.328,Thriller,40,PG,677,YES
4,17000,850.5840,91.2,0.307,30724.705,158.9,9.050,9.22,9.185,9.330,7.96,312011,169.40,221.360,Comedy,56,PG,615,NO

In [14]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           106 non-null    int64
 1   Marketin_expense     106 non-null    float64
 2   Production_expense   106 non-null    float64
 3   Multiplex_coverage   106 non-null    float64
 4   Budget               106 non-null    float64
 5   Movie_length         106 non-null    float64
 6   Lead_ Actor_Rating   106 non-null    float64
 7   Lead_Actress_rating  106 non-null    float64
 8   Director_rating      106 non-null    float64
 9   Producer_rating      106 non-null    float64
 10  Critic_rating        106 non-null    float64
 11  Trailer_views        106 non-null    int64
 12  Time_taken           102 non-null    float64
 13  Twitter_hastags      106 non-null    float64
 14  Genre                106 non-null    object
 15  Avg_age_actors       106 non-null    int64
 16  MPAA_film_rating     106 non-null    object
 17  Num_multiplex        106 non-null    int64
 18  3D_available         106 non-null    object
dtypes: float64(12), int64(4), object(3)
memory usage: 14.6+ KB

In [23]:
df_test.Time_taken=df_test.fillna(df_test.Time_taken.mean())

In [24]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           106 non-null    int64
 1   Marketin_expense     106 non-null    float64
 2   Production_expense   106 non-null    float64
 3   Multiplex_coverage   106 non-null    float64
 4   Budget               106 non-null    float64
 5   Movie_length         106 non-null    float64
 6   Lead_ Actor_Rating   106 non-null    float64
 7   Lead_Actress_rating  106 non-null    float64
 8   Director_rating      106 non-null    float64
 9   Producer_rating      106 non-null    float64
 10  Critic_rating        106 non-null    float64
 11  Trailer_views        106 non-null    int64
 12  Time_taken           106 non-null    object
 13  Twitter_hastags      106 non-null    float64
 14  Genre                106 non-null    object
 15  Avg_age_actors       106 non-null    int64
 16  MPAA_film_rating     106 non-null    object
 17  Num_multiplex        106 non-null    int64
 18  3D_available         106 non-null    object
dtypes: float64(11), int64(4), object(4)
memory usage: 14.1+ KB

In [25]:
df_test=pd.get_dummies(df_test)

In [28]:
df_test.shape

(106, 104)

In [104]:
x=df_test.loc[:,df_test.columns!='Collection']

In [105]:
x.head()

,Marketin_expense,Production_expense,Multiplex_coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,...,Time_taken_55000,Time_taken_55800,Time_taken_59600,Genre_Action,Genre_Comedy,Genre_Drama,Genre_Thriller,MPAA_film_rating_PG,3D_available_NO,3D_available_YES
0,520.9220,91.2,0.307,33257.785,173.5,9.135,9.31,9.040,9.335,7.96,...,0,0,0,0,0,1,0,1,0,1
1,304.7240,91.2,0.307,35235.365,173.5,9.120,9.33,9.095,9.305,7.96,...,0,0,0,0,1,0,0,1,0,1
2,211.9142,91.2,0.307,35574.220,173.5,9.170,9.32,9.115,9.120,7.96,...,0,0,0,0,0,0,1,1,1,0
3,516.0340,91.2,0.307,29713.695,169.5,9.125,9.31,9.060,9.100,6.96,...,0,0,0,0,0,0,1,1,0,1
4,850.5840,91.2,0.307,30724.705,158.9,9.050,9.22,9.185,9.330,7.96,...,0,0,0,0,1,0,0,1,1,0

In [106]:
y = df_test["Collection"]

In [107]:
y.head(3)

0    11200
1    14400
2    24200
Name: Collection, dtype: int64

In [102]:
from sklearn.linear_model import LinearRegression

In [108]:
model=LinearRegression().fit(x,y)

In [109]:
model.predict(x)

array([11199.99999858, 14399.99999546, 24200.        , 16600.00000038,
       16999.9999985 , 10000.00000016, 23799.99999943, 55800.0000003 ,
       34399.99999999, 55000.00000093, 30000.00000108, 34399.99999946,
       35800.00000152, 32599.99999979, 14000.00000089, 14399.99999937,
       15000.00000004, 20800.00000033, 17599.99999973, 16799.99999967,
       33400.00000033, 28399.99999985, 41599.99999978, 26799.99999958,
       23400.00000044, 16599.9999999 , 20400.00000001, 21799.99999996,
       22000.0000002 , 18999.99999982, 29000.00000015, 28200.0000003 ,
       32199.99999981, 28599.99999994, 23399.9999997 , 26799.99999945,
       19200.00000019, 16400.00000087, 16800.00000144, 25599.99999972,
       20999.99999969, 34199.99999996, 29600.0000002 , 30800.00000003,
       21599.99999976, 23600.00000048, 29799.9999999 , 25199.99999998,
       28199.9999998 , 26000.00000003, 26800.00000018, 30400.00000033,
       32200.00000018, 35600.00000014, 28800.        , 28199.99999979,
       25399.99999974, 27000.00000005, 29800.00000005, 40000.00000003,
       32800.00000002, 35399.99999984, 39000.0000001 , 40400.00000076,
       42800.00000002, 39799.99999919, 37999.99999982, 38199.99999927,
       38200.00000026, 40199.99999954, 39800.00000071, 39199.99999935,
       46399.99999989, 59600.00000088, 27599.99999957, 26599.99999989,
       33399.99999945, 23999.99999946, 29199.99999994, 42799.99999959,
       46000.00000057, 47400.00000033, 50000.00000055, 43600.00000021,
       41199.99999953, 42400.00000065, 38199.99999895, 41200.00000078,
       30399.9999998 , 14000.00000002, 16200.00000045, 27200.00000007,
       40200.00000021, 43600.00000018, 49000.00000033, 46199.99999996,
       39399.9999998 , 36599.99999979, 42399.99999978, 34999.9999999 ,
       33599.9999996 , 44800.00000025, 41200.00000023, 47800.00000215,
       44000.00000064, 38000.00000033])

In [110]:
x,y
model.score(x,y)*100

100.0